APP_ENV=local
APP_MODE=dev
NODE_ENV=local
HELLO_FROM=THE_OTHER_SIDE
SERVICE_NAME=nodesampleapp
PGHOST=localhost
PGPORT=54321
PGUSER=test
PGPASSWORD=test
PGROHOST=localhost
PGROPORT=54321
PGROUSER=test
PGROPASSWORD=test
PGDATABASE=test
NODE_KEEP_ALIVE_TIMEMOUT_MS=65000
